html,body{
    width: 100%;
    height: 100%;
    background-color: #d94b41;
    max-width: 500px;
}
*{
    margin: 0;
    padding: 0;
}
#yaoqianBox{
    width: 100%;
    height: 100%;
}
#yaoqianBox #gameBox{
    width: 100%;
    background-image: url(img/yaoqianBg.jpg);
    background-size: 100% 100%;
    background-position: bottom center;
    position: relative;
}
#yaoqianBox .zhuangtai img{
    width: 100%;
}
#yaoqianBox #gameBox .title{
    width: 100%;
    padding-top: 15%;
}
#yaoqianBox #gameBox .title img{
    width: 100%;
}
#yaoqianBox #gameBox #qian{
    width: 70%;
    height: 60%;
    margin: 0 auto;
    position: relative;
    transform-origin: center bottom;
}
#yaoqianBox #gameBox #qian .qiantong{
    width: 100%;
    height: 100%;
    background-image: url(img/qian.png);
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}
#yaoqianBox #gameBox #qian .dianji{
    width: 100%;
    height: 100%;
    background-image: url(img/dianji.png);
    position: absolute;

    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}
#yaoqianBox #gameBox #qian .qian1{
    transform: rotate(15deg);
}
#yaoqianBox #gameBox #qian .qian2{    
    transform: rotate(-15deg);
}



.gameTime{
    text-align: center;
    position: absolute;
    bottom: 20%;
    width: 50%;
    left: 25%;
    background-image: url(img/gameTime.png);
    background-size: 100% 100%;
    padding: 5px 0;
    color: #7b0e07;
    font-family: '方正粗圆简体'
}
.gameTime span{
    font-weight: bold;
    font-size: 20px;
}

.msg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    text-align: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.7)
}
.msg .tanchuang{
    background-image: url(img/tanchuangBg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    background-position:center;
    position: relative;
    top: 10%; 
}
.msg .tanchuang img{

    text-align: center;
    width: 10%;
    margin-top: 35%;
}
.msg p{
    width: 30%;
    margin: 0 auto;
    font-family: '方正粗圆简体';
    padding-top: 10px;
}
.msg .queding{
    width: 100%;
    position: absolute;
    z-index: 3;
    top: 60%;
    text-align: center;
}
.msg .queding img{
    width: 40%;
}